@use '../abstracts/index' as *;

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.25em;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out, text-decoration 200ms ease-in-out;
    cursor: pointer;

    &--primary {
        padding: 1em 2em;
        background-color: hsl(var(--clr-black));
        color: hsl(var(--clr-white));

        &:hover {
            background-color: hsl(var(--clr-grey-light));
            color: hsl(var(--clr-black));
        }

        &.button--inverted {
            background-color: hsl(var(--clr-white));
            color: hsl(var(--clr-black));

            &:hover {
                background-color: hsl(var(--clr-grey-light));
                color: hsl(var(--clr-black));
            }
        }
    }

    &--secondary {
        color: hsl(var(--clr-black));

        & svg {
            margin-left: 1.6rem;
        }

        &:hover {
            text-decoration: underline;
        }

        &.button--inverted {
            color: hsl(var(--clr-white));

            & svg g {
                stroke: white;
            }
        }
    }

    &--block {
        width: 100%;

        &.button--secondary {
            & svg {
                margin-left: auto;
            }
        }
    }
}